@charset "UTF-8";
* {
  margin: 0;
  padding: 0 !important;
  box-sizing: border-box;
}

#main-cards {
  display: flex !important;
  height: auto;
  width: auto;
  justify-content: center;
}
#main-cards #lilsupacarta {
  margin: 30px;
  height: auto;
  width: 350px !important;
}
#main-cards #mcklopediacarta {
  margin: 30px;
  height: auto;
  width: 350px !important;
}
#main-cards #apachecarta {
  margin: 30px;
  height: auto;
  width: 350px !important;
}

@media (max-width: 600px) {
  #main-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
header {
  height: 70px;
  background-color: black;
  padding: 10px;
  font-size: 20px;
  font-style: italic;
  justify-content: space-between;
  align-items: center;
  z-index: 1000 !important;
}
header nav ul {
  justify-content: center;
}
header nav ul li {
  margin-right: 30px;
  justify-content: center;
}

.navbar-brand img {
  width: 100px !important;
  height: 80px !important;
  padding: 10px !important;
  background-color: black !important;
}

.navbar {
  background-color: rgb(0, 0, 0) !important;
  position: fixed;
  width: 100%;
}

/* Estilo para los enlaces en el navbar */
.navbar-nav .nav-link {
  color: #ffffff; /* Color del texto normal */
  transition: color 0.3s, font-size 0.3s; /* Transición suave de color y tamaño de fuente */
}

/* Cambiar color al pasar el cursor por encima */
.navbar-nav .nav-link:hover {
  color: #009dff;
}

/* Agrandar el texto al pasar el cursor por encima */
.navbar-nav .nav-link:hover {
  font-size: 1.1em;
}

.footer {
  background-color: black;
  color: white;
  padding-right: 20px !important;
}

.footer ul {
  list-style: none;
  padding: 20px;
  display: flex;
  align-items: center;
}

.footer li {
  margin-right: 25px;
  display: inline-block;
  justify-content: end;
}

.footer a {
  color: #ffffff;
  transition: color 0.3s, font-size 0.3s;
}

.footer a:hover {
  color: #009dff;
  font-size: 1.1em;
}

.nav-link {
  font-style: italic;
  font-size: 20px;
}

/* -------------------------------------Estilo para el footer en dispositivos pequeños------------------------------------- */
@media (max-width: 600px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
  .footer-content img {
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .footer ul {
    display: none;
  }
  .footer li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
.QuienEs {
  display: flex;
  width: 100%;
  height: auto;
  padding-top: 50px;
  font-style: italic;
  font-size: 17px;
  justify-content: center;
}
.QuienEs .QuienEsHijo {
  width: 90%;
  height: 90%;
  background-color: rgba(0, 0, 0, 0.192);
  margin: 0 auto;
  padding: 20px;
  border: 2px solid rgb(250, 250, 250);
  margin: 20px;
  font-style: italic;
  border-radius: 10px;
  color: #ffffff;
}
.QuienEs .Datos {
  width: 90%;
  max-width: 650px;
  height: 90%;
  max-height: 550px;
  overflow: auto;
  padding: 20px;
  margin: 20px 30px;
  font-style: italic;
  border-radius: 10px;
  overflow-y: hidden;
  background-color: rgba(0, 0, 0, 0.192);
  border: 2px solid rgb(250, 250, 250);
  color: #ffffff;
}

@media (max-width: 768px) {
  .Datos {
    height: auto;
    margin: 10px;
    padding: 10px;
  }
  .QuienEsHijo {
    width: 90%;
    height: auto;
    margin: 10px;
    padding: 10px;
  }
  .QuienEs {
    display: block;
  }
}
body {
  background-image: url("../images/fondo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  height: 100%;
  background-color: darkcyan;
  height: auto;
}

#main-discografia {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
#main-discografia .DiscosGrid {
  display: grid;
  grid-template-columns: 152px 500px;
  grid-template-rows: repeat(6, 152px);
  gap: 15px;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
#main-discografia .Boxgrid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

@media (max-width: 600px) {
  .DiscosGrid {
    display: block;
  }
  .Boxgrid {
    width: 90%;
    height: 90%;
    margin: 0 auto;
  }
}
.entrevistas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.entrevistas #Videos {
  width: 100%;
  max-width: 600px;
  margin: 10px;
  box-shadow: 0 10px 15px rgb(255, 255, 255);
}
.entrevistas #Videos iframe {
  width: 100%;
  height: 400px;
}
@media (max-width: 600px) {
  .entrevistas #Videos {
    max-width: 100%;
  }
  .entrevistas #Videos iframe {
    height: 200px;
  }
}

#main-letras {
  margin: 30px;
  background-color: rgba(49, 49, 49, 0.742);
  justify-content: center;
  height: auto;
  width: auto;
  padding: 20px;
  margin: 20px 30px;
  font-style: italic;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.192);
  border: 2px solid rgb(250, 250, 250);
  color: #ffffff;
}
#main-letras #titulos-letras {
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
