/* Reset CSS */
* {
    margin: 0 ;
    padding: 0 !important;
    box-sizing: border-box ;
}

h1{
    margin: 0
}

header {
    height: 70px;
    background-color: black; 
    padding: 10px;
    font-size: 20px;
    font-style: italic;
    justify-content: space-between;
    align-items: center;
}

main {
    min-height: 100vh;
    width: 100vh;
}

.logo img {
    width: 100px; 
    height: 80px; 
    padding: 10px;
}


header nav ul {

    justify-content: center;

}

header nav ul li {
    margin-right: 30px;
    justify-content: center;
}

body {
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    height: 100%;
    background-color: darkcyan;
}

.QuienEs {
    display: flex;
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    font-style: italic;
    font-size: 17px;

}

.QuienEsHijo {
    width: 550px;
    height: 500px;
    background-color: deepskyblue;
    margin: 0 auto;
    overflow: auto;
    padding: 20px;
    border: 2px solid black;
    margin: 20px;
    font-style: italic;


}

.Datos {
    width: 400px;
    height: 500px;
    background-color: deepskyblue;
    margin: 0 auto;
    overflow: auto;
    padding: 20px;
    border: 2px solid black;
    margin: 20px 30px;
    font-style: italic;
}


/* Grids en Discografia */

.DiscosGrid{
    display: grid;
    grid-template-columns: 152px 500px ;
    grid-template-rows: 152px 152px 152px 152px 152px 152px;
    gap: 15px;
}

.Boxgrid img {
    width: 100%;
    height: 100%;
}

.Boxgridmusica {
    width: 100%;
    height: 100%;
}

@media (max-width: 600px) {
    .DiscosGrid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 200px);
        grid-template-areas: 
        "Boxgrid1"
        "Boxgrid2"
        "Boxgrid3"
        "Boxgrid4"
        "Boxgrid5"
        "Boxgrid6"
        "Boxgrid7"
        "Boxgrid8"
        "Boxgrid9"
        "Boxgrid10"
        "Boxgrid11"
        "Boxgrid12";
    }

}




.navbar-brand img {
    width: 100px !important; 
    height: 80px !important; 
    padding: 10px !important;
    background-color: black !important;
}

.navbar {
    background-color: black!important;
    position: fixed;
    width: 100%;
}

/* Estilo para los enlaces en el navbar */
.navbar-nav .nav-link {
    color: #ffffff; /* Color del texto normal */
    transition: color 0.3s, font-size 0.3s; /* Transición suave de color y tamaño de fuente */
}


  /* Cambiar color al pasar el cursor por encima */
.navbar-nav .nav-link:hover {
    color: #ffcc00; /* Color del texto al pasar el cursor por encima */
}


  /* Agrandar el texto al pasar el cursor por encima */
.navbar-nav .nav-link:hover {
    font-size: 1.1em; /* Tamaño de fuente más grande al pasar el cursor por encima */
}


/* Estilo para el footer */
/* Estilo para el footer */
.footer {
    background-color: black;
    color: white;
    padding: 20px 0;
}

.footer .container {
    display: flex;
    justify-content: center;
}

.footer .footer-content {
    display: flex;
    align-items: center;
}

.footer img {
    width: 100px; 
    height: 80px; 
    padding: 10px;
}

.footer ul {
    list-style: none;
    padding: 0;
    display: flex; /* Hacer que la lista esté en línea */
}

.footer li {
    margin-right: 20px;
    display: inline-block; /* Hacer que los elementos de la lista estén en línea */
}

.footer a {
    color: #ffffff;
    transition: color 0.3s, font-size 0.3s;
}

.footer a:hover {
    color: #ffcc00;
    font-size: 1.1em;
}

