#main-letras {
    margin: 30px;
    background-color:rgba(49, 49, 49, 0.742);
    justify-content: center;
    height: auto;
    width: auto;
    padding: 20px;
    margin: 20px 30px;
    font-style: italic;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.192);
    border: 2px solid rgb(250, 250, 250);
    color: #ffffff;
    #titulos-letras {
        justify-content: center;
    }
}

