$shadow: 0 10px 15px rgb(255, 255, 255);
.entrevistas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    #Videos {
    width: 100%;
    max-width: 600px; 
    margin: 10px; 
    box-shadow: $shadow;

    iframe {
        width: 100%;
        height: 400px; 
    }
    }

    @media (max-width: 600px) {
    #Videos {
        max-width: 100%; 

        iframe {
        height: 200px; 
        }
    }
    }
}
